In [30]:
import numpy as np
import pandas as pd
import os
from glob import glob
import turicreate as tc

In [31]:
dataset_root = "../dataset/HAPT Data Set/"
idle_label = '<IDLE>'
train_subjects = [i for i in range(1, 22)]
test_subjecs = [i for i in range(22, 31)]

In [32]:
def activity_map(dataset_root=None):
    act_map = {}
    with open(os.path.join(dataset_root, "activity_labels.txt"), "r") as al:
        for line in al.readlines():
            line = line.strip()
            label, activity = line.split(" ")
            act_map[int(label)] = activity
              
    return act_map

In [33]:
act_map = activity_map(dataset_root)

In [34]:
print act_map

{1: 'WALKING', 2: 'WALKING_UPSTAIRS', 3: 'WALKING_DOWNSTAIRS', 4: 'SITTING', 5: 'STANDING', 6: 'LAYING', 7: 'STAND_TO_SIT', 8: 'SIT_TO_STAND', 9: 'SIT_TO_LIE', 10: 'LIE_TO_SIT', 11: 'STAND_TO_LIE', 12: 'LIE_TO_STAND'}

In [35]:
gyro_files = glob(os.path.join(dataset_root, "RawData", "gyro_*.txt"))
acc_files = glob(os.path.join(dataset_root, "RawData", "acc_*.txt"))
label_file = os.path.join(dataset_root, "RawData", "labels.txt")

In [36]:
print len(gyro_files)
print len(acc_files)

61
61

### Turicreate

In [48]:
def find_label_for_containing_interval(intervals, index):
    shifted_index = index + intervals[:,1][0]
    containing_interval = intervals[:, 0][(intervals[:, 1] <= shifted_index) & (shifted_index <= intervals[:, 2])]
    
    if len(containing_interval) == 1:
        return containing_interval[0]

In [49]:
labels = tc.SFrame.read_csv(dataset_root + '/RawData/labels.txt', delimiter=' ', header=False, verbose=False)
labels = labels.rename({'X1': 'exp_id', 'X2': 'user_id', 'X3': 'activity_id', 'X4': 'start', 'X5': 'end'})
labels

Columns:
	exp_id	int
	user_id	int
	activity_id	int
	start	int
	end	int

Rows: 1214

Data:
+--------+---------+-------------+-------+------+
| exp_id | user_id | activity_id | start | end  |
+--------+---------+-------------+-------+------+
|   1    |    1    |      5      |  250  | 1232 |
|   1    |    1    |      7      |  1233 | 1392 |
|   1    |    1    |      4      |  1393 | 2194 |
|   1    |    1    |      8      |  2195 | 2359 |
|   1    |    1    |      5      |  2360 | 3374 |
|   1    |    1    |      11     |  3375 | 3662 |
|   1    |    1    |      6      |  3663 | 4538 |
|   1    |    1    |      10     |  4539 | 4735 |
|   1    |    1    |      4      |  4736 | 5667 |
|   1    |    1    |      9      |  5668 | 5859 |
+--------+---------+-------------+-------+------+
[1214 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [64]:
data = tc.SFrame()
files = zip(sorted(acc_files), sorted(gyro_files))
for acc_file, gyro_file in files:
    exp_id = int(acc_file.split('_')[1][-2:])
    usr_id = int(acc_file.split('_')[2].split('.')[0][-2:])
    # Load accel data
    sf = tc.SFrame.read_csv(acc_file, delimiter=' ', header=False, verbose=False)
    sf = sf.rename({'X1': 'acc_x', 'X2': 'acc_y', 'X3': 'acc_z'})

    # Load gyro data
    gyro_sf = tc.SFrame.read_csv(gyro_file, delimiter=' ', header=False, verbose=False)
    gyro_sf = gyro_sf.rename({'X1': 'gyro_x', 'X2': 'gyro_y', 'X3': 'gyro_z'})
    sf = sf.add_columns(gyro_sf)

    
    # Calc labels
    exp_labels = labels[labels['exp_id'] == exp_id][['activity_id', 'start', 'end']].to_numpy()
    sf = sf.add_row_number()
    sf['activity_id'] = sf['id'].apply(lambda x: find_label_for_containing_interval(exp_labels, x))
    sf = sf.remove_columns(['id'])
    sf['exp_id'] = exp_id
    sf['usr_id'] = usr_id
    data = data.append(sf)

In [65]:
data_df = data.to_dataframe()

In [66]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1122772 entries, 0 to 1122771
Data columns (total 9 columns):
acc_x          1122772 non-null float64
acc_y          1122772 non-null float64
acc_z          1122772 non-null float64
gyro_x         1122772 non-null float64
gyro_y         1122772 non-null float64
gyro_z         1122772 non-null float64
activity_id    815614 non-null float64
exp_id         1122772 non-null int64
usr_id         1122772 non-null int64
dtypes: float64(7), int64(2)
memory usage: 77.1 MB

In [67]:
data_df.to_pickle('dataset_imputed.pkl')

In [68]:
def get_activity(act_id):
    if pd.isnull(act_id):
        return '<IDLE>'
    else: 
        return act_map[int(act_id)]

In [69]:
train, test = tc.activity_classifier.util.random_split_by_session(data, session_id='exp_id', fraction=0.7)
train.materialize()
test.materialize()

In [70]:
# Imputed Dataset Splits
temp_df = train.to_dataframe()
temp_df['activity'] = temp_df['activity_id'].apply(lambda x: get_activity(x))
temp_df = temp_df.drop(columns = ['activity_id'])
temp_df.to_pickle('train_imputed.pkl')

temp_df = test.to_dataframe()
temp_df['activity'] = temp_df['activity_id'].apply(lambda x: get_activity(x))
temp_df = temp_df.drop(columns = ['activity_id'])
temp_df.to_pickle('test_imputed.pkl')

In [72]:
data_df['activity'] = data_df['activity_id'].apply(lambda x: get_activity(x))
data_df = data_df.drop(columns = ['activity_id'])
data_df = data_df[data_df['activity'] != '<IDLE>']
data_df.info()
data_df.to_pickle('dataset.pkl')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815614 entries, 0 to 1121213
Data columns (total 9 columns):
acc_x       815614 non-null float64
acc_y       815614 non-null float64
acc_z       815614 non-null float64
gyro_x      815614 non-null float64
gyro_y      815614 non-null float64
gyro_z      815614 non-null float64
exp_id      815614 non-null int64
usr_id      815614 non-null int64
activity    815614 non-null object
dtypes: float64(6), int64(2), object(1)
memory usage: 62.2+ MB

In [73]:
data =  tc.SFrame(data_df)
train, test = tc.activity_classifier.util.random_split_by_session(data, session_id='exp_id', fraction=0.7)
train.materialize()
test.materialize()

In [75]:
# Non-Imputed Dataset Splits
temp_df = train.to_dataframe()
temp_df.to_pickle('train.pkl')
temp_df = test.to_dataframe()
temp_df.to_pickle('test.pkl')

In [158]:
gyro_data = []
acc_data = []
exp_ids = []
sub_ids = []
for g_f, _ in zip(gyro_files, acc_files):
    file_name = os.path.basename(g_f)
    _, exp_id, sub_id = file_name.split("_")
    a_f = os.path.join(
        os.path.dirname(g_f), "acc_" + exp_id + "_" + sub_id)

    exp_ids.append(int(exp_id[3:]))
    sub_ids.append(int(sub_id.split(".")[0][4:]))

    gyro_ = np.loadtxt(g_f, delimiter=" ")
    acc_ = np.loadtxt(a_f, delimiter=" ")
    
    gyro_data.append(gyro_)
    acc_data.append(acc_)
    
print len(gyro_data[0])
print len(acc_data)
# gyro_data = np.vstack(gyro_data)
# acc_data = np.vstack(acc_data)

sensor_data = np.hstack([acc_data, gyro_data])

20598
61

In [138]:
sensor_data.shape

(122,)

In [295]:
label_data = pd.read_csv(label_file, sep=" ", header=None, names=['exp_id', 'user_id', 'activity_id', 'start', 'end'])

In [296]:
label_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214 entries, 0 to 1213
Data columns (total 5 columns):
exp_id         1214 non-null int64
user_id        1214 non-null int64
activity_id    1214 non-null int64
start          1214 non-null int64
end            1214 non-null int64
dtypes: int64(5)
memory usage: 47.5 KB

In [297]:
label_gp = label_data.groupby(['exp_id'])

In [310]:
df_dict = {}
for key, item in label_gp:
    df_dict[key] = pd.DataFrame(label_gp.get_group(key))
    print df_dict[key]

    exp_id  user_id  activity_id  start    end
0        1        1            5    250   1232
1        1        1            7   1233   1392
2        1        1            4   1393   2194
3        1        1            8   2195   2359
4        1        1            5   2360   3374
5        1        1           11   3375   3662
6        1        1            6   3663   4538
7        1        1           10   4539   4735
8        1        1            4   4736   5667
9        1        1            9   5668   5859
10       1        1            6   5860   6786
11       1        1           12   6787   6977
12       1        1            1   7496   8078
13       1        1            1   8356   9250
14       1        1            1   9657  10567
15       1        1            1  10750  11714
16       1        1            3  13191  13846
17       1        1            2  14069  14699
18       1        1            3  14869  15492
19       1        1            2  15712  16377
20       1        1            3  16530  17153
21       1        1            2  17298  17970
    exp_id  user_id  activity_id  start    end
22       2        1            5    251   1226
23       2        1            7   1227   1432
24       2        1            4   1433   2221
25       2        1            8   2222   2377
26       2        1            5   2378   3304
27       2        1           11   3305   3572
28       2        1            6   3573   4435
29       2        1           10   4436   4619
30       2        1            4   4620   5452
31       2        1            9   5453   5689
32       2        1            6   5690   6467
33       2        1           12   6468   6709
34       2        1            1   7624   8252
35       2        1            1   8618   9576
36       2        1            1   9991  10927
37       2        1            1  11311  12282
38       2        1            3  13129  13379
39       2        1            3  13495  13927
40       2        1            2  14128  14783
41       2        1            3  15037  15684
42       2        1            2  15920  16598
43       2        1            3  16847  17471
44       2        1            2  17725  18425
    exp_id  user_id  activity_id  start    end
45       3        2            5    298   1398
46       3        2            7   1399   1555
47       3        2            4   1686   2627
48       3        2            8   2628   2769
49       3        2            5   2770   3904
50       3        2           11   3905   4322
51       3        2            6   4323   5139
52       3        2           10   5140   5417
53       3        2            4   5418   6190
54       3        2            9   6191   6415
55       3        2            6   6416   7367
56       3        2           12   7368   7548
57       3        2            1   8434   9501
58       3        2            1   9854  10926
59       3        2            3  11704  12390
60       3        2            2  12631  13306
61       3        2            3  13649  14244
62       3        2            2  14528  15166
63       3        2            3  15477  16002
64       3        2            2  16259  16870
    exp_id  user_id  activity_id  start    end
65       4        2            5    524   1351
66       4        2            7   1352   1511
67       4        2            4   1512   2309
68       4        2            8   2310   2448
69       4        2            5   2449   3337
70       4        2           11   3338   3542
71       4        2            6   3543   4348
72       4        2           10   4349   4490
73       4        2            4   4491   5301
74       4        2            9   5302   5455
75       4        2            6   5456   6417
76       4        2           12   6418   6598
77       4        2            1   7306   8343
78       4        2            1   8720   9686
79       4        2            3  10438  11056
80       4        2            2  11294  11928
81       4        2            3  12171  12732
82       4        2            2  12986  13602
83       4        2            3  13862  14444
84       4        2            2  14705  15274
     exp_id  user_id  activity_id  start    end
85        5        3            5    243   1364
86        5        3            7   1365   1506
87        5        3            4   1507   2360
88        5        3            8   2361   2470
89        5        3            5   2471   3618
90        5        3           11   3619   3834
91        5        3            6   3835   4850
92        5        3           10   4851   5074
93        5        3            4   5075   6059
94        5        3            9   6060   6210
95        5        3            6   6211   7378
96        5        3           12   7379   7562
97        5        3            1   8687   9837
98        5        3            1  10240  11305
99        5        3            2  14018  14694
100       5        3            3  15098  15693
101       5        3            2  15985  16611
102       5        3            3  16964  17559
103       5        3            2  17811  18477
104       5        3            3  18810  19325
105       5        3            2  19536  20152
     exp_id  user_id  activity_id  start    end
106       6        3            5    482   1493
107       6        3            7   1494   1683
108       6        3            4   1684   2515
109       6        3            8   2516   2698
110       6        3            5   2699   3873
111       6        3           11   3874   4108
112       6        3            6   4109   5211
113       6        3           10   5212   5408
114       6        3            4   5409   6410
115       6        3            9   6411   6580
116       6        3            6   6581   7720
117       6        3           12   7721   7887
118       6        3            1   8700   9666
119       6        3            1  10005  10940
120       6        3            3  11720  12410
121       6        3            2  12703  13384
122       6        3            3  13660  14332
123       6        3            2  14587  15213
124       6        3            3  15375  15972
125       6        3            2  16146  16779
     exp_id  user_id  activity_id  start    end
126       7        4            5    198   1291
127       7        4            7   1292   1527
128       7        4            4   1528   2381
129       7        4            8   2382   2511
130       7        4            5   2512   3416
131       7        4           11   3417   3748
132       7        4            6   3749   4816
133       7        4           10   4817   5031
134       7        4            4   5032   5896
135       7        4            9   5897   6120
136       7        4            6   6121   7109
137       7        4           12   7110   7275
138       7        4            1   8125   9269
139       7        4            1   9443  10483
140       7        4            3  11340  11596
141       7        4            3  11824  12047
142       7        4            2  12653  13437
143       7        4            3  13625  14341
144       7        4            2  14548  15230
145       7        4            3  15391  16025
146       7        4            2  16178  16814
     exp_id  user_id  activity_id  start    end
147       8        4            5    230   1292
148       8        4            7   1293   1470
149       8        4            4   1471   2430
150       8        4            8   2431   2573
151       8        4            5   2574   3438
152       8        4           11   3439   3757
153       8        4            6   3758   4574
154       8        4           10   4575   4784
155       8        4            4   4785   5600
156       8        4            9   5601   5835
157       8        4            6   5836   6681
158       8        4           12   6682   6852
159       8        4            1   7873   8907
160       8        4            1   9045  10016
161       8        4            3  10629  11231
162       8        4            2  11392  11991
163       8        4            3  12205  12762
164       8        4            2  12939  13565
165       8        4            3  13729  14283
166       8        4            2  14391  15007
     exp_id  user_id  activity_id  start    end
167       9        5            5    136   1221
168       9        5            7   1222   1386
169       9        5            4   1387   2199
170       9        5            8   2200   2325
171       9        5            5   2326   3314
172       9        5           11   3315   3660
173       9        5            6   3661   4599
174       9        5           10   4600   4855
175       9        5            4   4856   5686
176       9        5            9   5687   5906
177       9        5            6   5907   6876
178       9        5           12   6877   7049
179       9        5            1   7891   9023
180       9        5            1   9216  10237
181       9        5            3  11051  11704
182       9        5            2  11867  12553
183       9        5            3  12795  13414
184       9        5            2  13567  14201
185       9        5            3  14384  14963
186       9        5            2  15087  15725
     exp_id  user_id  activity_id  start    end
187      10        5            5    153   1152
188      10        5            7   1153   1387
189      10        5            4   1388   2182
190      10        5            8   2183   2311
191      10        5            5   2312   3283
192      10        5           11   3284   3598
193      10        5            6   3599   4463
194      10        5           10   4464   4666
195      10        5            4   4667   5429
196      10        5            9   5430   5688
197      10        5            6   5689   6564
198      10        5           12   6565   6706
199      10        5            1   7443   8357
200      10        5            1   8547   9452
201      10        5            3  10006  10586
202      10        5            2  10751  11344
203      10        5            3  11526  12055
204      10        5            2  12187  12755
205      10        5            3  12928  13471
206      10        5            2  13593  14163
     exp_id  user_id  activity_id  start    end
207      11        6            5    210   1116
208      11        6            7   1117   1301
209      11        6            4   1302   2315
210      11        6            8   2316   2429
211      11        6            5   2430   3666
212      11        6           11   3667   3979
213      11        6            6   3980   4907
214      11        6           10   4908   5080
215      11        6            4   5081   6138
216      11        6            9   6139   6296
217      11        6            6   6297   7335
218      11        6           12   7336   7521
219      11        6            1   8212   9291
220      11        6            1   9520  10519
221      11        6            3  11222  11813
222      11        6            2  11965  12633
223      11        6            3  12805  13386
224      11        6            2  13554  14180
225      11        6            3  14360  14944
226      11        6            2  15113  15763
     exp_id  user_id  activity_id  start    end
227      12        6            5    207   1218
228      12        6            7   1219   1369
229      12        6            4   1370   2202
230      12        6            8   2203   2334
231      12        6            5   2335   3263
232      12        6           11   3264   3543
233      12        6            6   3544   4501
234      12        6           10   4502   4666
235      12        6            4   4667   5732
236      12        6            9   5733   5890
237      12        6            6   5891   6944
238      12        6           12   6945   7198
239      12        6            1   7925   8894
240      12        6            1   9124  10089
241      12        6            3  10704  11294
242      12        6            2  11437  12082
243      12        6            3  12225  12812
244      12        6            2  12970  13604
245      12        6            3  13731  14321
246      12        6            2  14479  15082
     exp_id  user_id  activity_id  start    end
247      13        7            5    468   1498
248      13        7            7   1499   1612
249      13        7            4   1613   2477
250      13        7            8   2478   2570
251      13        7            5   2571   3498
252      13        7           11   3631   3836
253      13        7            6   3837   4746
254      13        7           10   4747   4892
255      13        7            4   4893   5832
256      13        7            9   5833   6089
257      13        7            6   6090   6998
258      13        7           12   6999   7204
259      13        7            1   8074   9152
260      13        7            1   9390  10382
261      13        7            3  11111  11830
262      13        7            2  12007  12719
263      13        7            3  13092  13718
264      13        7            2  13935  14540
265      13        7            3  14849  15407
266      13        7            2  15695  16286
     exp_id  user_id  activity_id  start    end
267      14        7            5    505   1387
268      14        7            7   1388   1477
269      14        7            4   1478   2347
270      14        7            8   2348   2421
271      14        7            5   2422   3423
272      14        7           11   3424   3623
273      14        7            6   3624   4513
274      14        7           10   4514   4636
275      14        7            4   4637   5382
276      14        7            9   5383   5571
277      14        7            6   5572   6406
278      14        7           12   6407   6576
279      14        7            1   7236   8205
280      14        7            1   8503   9476
281      14        7            3  10323  10918
282      14        7            2  11170  11816
283      14        7            3  12076  12629
284      14        7            2  12927  13539
285      14        7            3  13778  14332
286      14        7            2  14504  15116
     exp_id  user_id  activity_id  start    end
287      15        8            5    269   1192
288      15        8            7   1193   1303
289      15        8            4   1304   1926
290      15        8            8   1927   2000
291      15        8            5   2001   2804
292      15        8           11   2805   3015
293      15        8            6   3016   3941
294      15        8           10   3942   4101
295      15        8            4   4102   5081
296      15        8            9   5082   5247
297      15        8            6   5248   6149
298      15        8           12   6150   6322
299      15        8            1   7275   8197
300      15        8            1   8518   9267
301      15        8            1   9382   9522
302      15        8            3  10276  10834
303      15        8            2  11085  11657
304      15        8            3  11957  12466
305      15        8            2  12708  13272
306      15        8            3  13552  14072
307      15        8            2  14287  14840
     exp_id  user_id  activity_id  start    end
308      16        8            5    202   1313
309      16        8            7   1314   1442
310      16        8            4   1443   2209
311      16        8            8   2210   2323
312      16        8            5   2324   3484
313      16        8           11   3485   3680
314      16        8            6   3681   4595
315      16        8           10   4596   4731
316      16        8            4   4732   5656
317      16        8            9   5657   5803
318      16        8            6   5804   6918
319      16        8           10   6919   7083
320      16        8            8   7357   7473
321      16        8            1   9093   9948
322      16        8            1  10224  11055
323      16        8            3  11682  12162
324      16        8            2  12315  12895
325      16        8            3  13123  13597
326      16        8            2  13785  14294
327      16        8            3  14517  14997
328      16        8            2  15196  15706
     exp_id  user_id  activity_id  start    end
329      17        9            5    453   1212
330      17        9            7   1213   1330
331      17        9            4   1331   2156
332      17        9            8   2157   2262
333      17        9            5   2263   3234
334      17        9           11   3235   3422
335      17        9            6   3423   4283
336      17        9           10   4284   4460
337      17        9            4   4461   5585
338      17        9            9   5586   5789
339      17        9            6   5790   6682
340      17        9           12   6683   6850
341      17        9            1   7891   8811
342      17        9            1   9030   9950
343      17        9            3  10717  10943
344      17        9            3  10969  11354
345      17        9            2  11585  11907
346      17        9            2  11922  12370
347      17        9            3  12492  12707
348      17        9            3  12880  13226
349      17        9            2  13350  13946
350      17        9            3  14135  14714
351      17        9            2  14846  15441
     exp_id  user_id  activity_id  start    end
352      18        9            5    660   1459
353      18        9            7   1460   1591
354      18        9            4   1592   2454
355      18        9            8   2455   2551
356      18        9            5   2552   3522
357      18        9           11   3523   3781
358      18        9            6   3782   4702
359      18        9           10   4703   4830
360      18        9            4   4831   5794
361      18        9            9   5795   5955
362      18        9            6   5956   7111
363      18        9           12   7112   7260
364      18        9            1   7922   8823
365      18        9            1   9014   9929
366      18        9            3  10522  11096
367      18        9            2  11185  11791
368      18        9            3  11955  12519
369      18        9            2  12617  13215
370      18        9            3  13378  13952
371      18        9            2  14134  14666
     exp_id  user_id  activity_id  start    end
372      19       10            5    388   1237
373      19       10            7   1238   1370
374      19       10            4   1371   2238
375      19       10            8   2239   2327
376      19       10            5   2459   3353
377      19       10           11   3354   3582
378      19       10            6   3583   4655
379      19       10           10   4656   4824
380      19       10            4   4825   5702
381      19       10            9   5703   5883
382      19       10            6   5884   6919
383      19       10           12   6920   7037
384      19       10            1   8046   9011
385      19       10            1   9352  10272
386      19       10            3  10886  11379
387      19       10            2  11571  12097
388      19       10            3  12289  12793
389      19       10            2  12947  13527
390      19       10            3  13689  14223
391      19       10            2  14440  15051
     exp_id  user_id  activity_id  start   end
392      20       10            5    423  1249
393      20       10            7   1250  1361
394      20       10            4   1362  2540
395      20       10            8   2541  2618
396      20       10            5   2750  3544
397      20       10           11   3545  3697

     exp_id  user_id  activity_id  start    end
673      35       17            5    414   1680
674      35       17            7   1681   1834
675      35       17            4   1835   2969
676      35       17            8   2970   3127
677      35       17            5   3128   4409
678      35       17           11   4410   4745
679      35       17            6   4746   5811
680      35       17           10   5812   6082
681      35       17            4   6083   7145
682      35       17            9   7146   7347
683      35       17            6   7348   8875
684      35       17           12   8876   9113
685      35       17            1  10091  11142
686      35       17            1  11545  12559
687      35       17            3  13292  13886
688      35       17            2  14099  14736
689      35       17            3  15049  15585
690      35       17            2  15877  16503
691      35       17            3  16811  17400
692      35       17            2  17666  18303
     exp_id  user_id  activity_id  start    end
693      36       18            5    704   2198
694      36       18            7   2199   2505
695      36       18            4   2506   3549
696      36       18            8   3550   3731
697      36       18            5   3732   5183
698      36       18           11   5184   5480
699      36       18            6   5481   6648
700      36       18           10   6649   6893
701      36       18            4   6894   8115
702      36       18            9   8116   8366
703      36       18            6   8367   9677
704      36       18           12   9678   9883
705      36       18            1  11529  12516
706      36       18            1  13026  14054
707      36       18            3  15158  15876
708      36       18            2  16345  17063
709      36       18            3  17459  18139
710      36       18            2  18546  19239
711      36       18            3  19653  20333
712      36       18            2  20688  21413
     exp_id  user_id  activity_id  start    end
713      37       18            5    827   2132
714      37       18            7   2133   2359
715      37       18            4   2360   3318
716      37       18            8   3319   3494
717      37       18            5   3495   4683
718      37       18           11   4684   4927
719      37       18            6   4928   6122
720      37       18           10   6123   6287
721      37       18            4   6288   7356
722      37       18            9   7357   7555
723      37       18            6   7556   8787
724      37       18           12   8788   8979
725      37       18            1   9977  10989
726      37       18            1  11351  12297
727      37       18            3  13290  13934
728      37       18            2  14237  14914
729      37       18            3  15269  15933
730      37       18            2  16236  16939
731      37       18            3  17265  17943
732      37       18            2  18280  19003
     exp_id  user_id  activity_id  start    end
733      38       19            5   1417   2797
734      38       19            7   2798   2976
735      38       19            4   2977   4274
736      38       19            8   4275   4409
737      38       19            5   4410   5872
738      38       19           11   5873   6128
739      38       19            6   6129   7559
740      38       19           10   7560   7756
741      38       19            4   7757   9036
742      38       19            9   9037   9212
743      38       19            6   9213  10638
744      38       19           12  10639  10799
745      38       19            1  11469  12479
746      38       19            1  12579  13502
747      38       19            3  14097  14653
748      38       19            2  14803  15349
749      38       19            3  15536  16062
750      38       19            2  16246  16782
751      38       19            3  16952  17467
752      38       19            2  17720  18245
     exp_id  user_id  activity_id  start    end
753      39       19            5    518   1723
754      39       19            7   1724   1886
755      39       19            4   1887   2935
756      39       19            8   2936   3057
757      39       19            5   3058   4206
758      39       19           11   4207   4526
759      39       19            6   4527   6096
760      39       19           10   6097   6246
761      39       19            4   6247   7654
762      39       19            9   7655   7857
763      39       19            6   7858   9194
764      39       19           12   9195   9334
765      39       19            1   9950  10853
766      39       19            1  11080  11958
767      39       19            3  12576  13063
768      39       19            2  13232  13776
769      39       19            3  13916  14411
770      39       19            2  14522  15013
771      39       19            3  15128  15607
772      39       19            2  15743  16229
     exp_id  user_id  activity_id  start    end
773      40       20            5    594   2071
774      40       20            7   2072   2272
775      40       20            4   2273   3617
776      40       20            8   3618   3799
777      40       20            5   3800   5014
778      40       20           11   5145   5569
779      40       20            6   5570   6781
780      40       20           10   6782   6937
781      40       20            4   6938   8038
782      40       20            9   8039   8335
783      40       20            6   8336   9351
784      40       20           12   9352   9523
785      40       20            1  10276  11251
786      40       20            1  11647  12565
787      40       20            3  13187  13741
788      40       20            2  14015  14640
789      40       20            3  15004  15560
790      40       20            2  16088  16808
791      40       20            3  17074  17697
792      40       20            2  17859  18476
     exp_id  user_id  activity_id  start    end
793      41       20            5    303   1713
794      41       20            7   1714   1932
795      41       20            4   1933   2939
796      41       20            8   2940   3060
797      41       20            5   3061   4293
798      41       20           11   4294   4658
799      41       20            6   4659   5909
800      41       20           10   5910   6101
801      41       20            4   6102   7321
802      41       20            9   7322   7602
803      41       20            6   7769   8975
804      41       20           12   8976   9133
805      41       20            1   9946  10785
806      41       20            1  10961  11828
807      41       20            3  12344  12956
808      41       20            2  13070  13699
809      41       20            3  13846  14396
810      41       20            2  14544  15201
811      41       20            3  15354  15972
812      41       20            2  16103  16738
     exp_id  user_id  activity_id  start    end
813      42       21            5    385   1998
814      42       21            7   1999   2175
815      42       21            4   2176   3748
816      42       21            8   3749   3894
817      42       21            5   3895   5564
818      42       21           11   5565   5877
819      42       21            6   5878   7186
820      42       21           10   7187   7390
821      42       21            4   7391   9012
822      42       21            9   9013   9214
823      42       21            6   9215  10909
824      42       21           12  10910  11115
825      42       21            1  11949  12942
826      42       21            1  13272  14211
827      42       21            3  14936  15509
828      42       21            2  15696  16339
829      42       21            3  16650  17250
830      42       21            2  17530  18126
831      42       21            3  18356  18967
832      42       21            2  19166  19774
     exp_id  user_id  activity_id  start    end
833      43       21            5    279   1872
834      43       21            7   1873   2012
835      43       21            4   2013   3281
836      43       21            8   3282   3399
837      43       21            5   3400   4933
838      43       21           11   4934   5207
839      43       21            6   5208   6812
840      43       21           10   6813   7008
841      43       21            4   7009   8388
842      43       21            9   8389   8600
843      43       21            6   8601  10112
844      43       21           12  10113  10308
845      43       21            1  11211  12097
846      43       21            1  12456  13386
847      43       21            3  14047  14664
848      43       21            2  14819  15402
849      43       21            3  15573  16120
850      43       21            2  16294  16865
851      43       21            3  17012  17574
852      43       21            2  17739  18307
     exp_id  user_id  activity_id  start    end
853      44       22            5    599   1696
854      44       22            7   1697   1910
855      44       22            4   1911   2991
856      44       22            8   2992   3095
857      44       22            5   3096   4246
858      44       22           11   4247   4419
859      44       22            6   4420   5493
860      44       22           10   5494   5678
861      44       22            4   5679   6896
862      44       22            9   6897   7032
863      44       22            6   7033   8517
864      44       22           12   8518   8774
865      44       22            1   9605  10453
866      44       22            1  10744  11526
867      44       22            3  12730  13221
868      44       22            2  13408  13955
869      44       22            3  14179  14661
870      44       22            2  14894  15435
871      44       22            3  15696  16202
872      44       22            2  16439  16970
     exp_id  user_id  activity_id  start    end
873      45       22            5    836   2078
874      45       22            7   2079   2197
875      45       22            4   2198   3206
876      45       22            8   3207   3312
877      45       22            5   3313   4381
878      45       22           11   4382   4520
879      45       22            6   4521   5894
880      45       22           10   5895   6055
881      45       22            4   6056   7134
882      45       22            9   7135   7293
883      45       22            6   7294   8359
884      45       22           10   8360   8516
885      45       22            8   8843   8934
886      45       22            1   9788  10628
887      45       22            1  10928  11741
888      45       22            3  12700  13190
889      45       22            2  13361  13909
890      45       22            3  14089  14589
891      45       22            2  14732  15293
892      45       22            3  15569  16079
893      45       22            2  16307  16864
     exp_id  user_id  activity_id  start    end
894      46       23            5   1186   2465
895      46       23            7   2466   2608
896      46       23            4   2609   3914
897      46       23            8   3915   4035
898      46       23            5   4036   5179
899      46       23           11   5180   5432
900      46       23            6   5433   6470
901      46       23           10   6471   6644
902      46       23            4   6645   7992
903      46       23            9   7993   8205
904      46       23            6   8206   9462
905      46       23           12   9463   9638
906      46       23            1  10472  11533
907      46       23            1  11694  12723
908      46       23            3  13825  14494
909      46       23            2  14711  15356
910      46       23            3  15606  16265
911      46       23            2  16399  16985
912      46       23            3  17303  17944
913      46       23            2  18110  18687
     exp_id  user_id  activity_id  start    end
914      47       23            5    424   1597
915      47       23            7   1598   1819
916      47       23            4   1820   2774
917      47       23            8   2775   2924
918      47       23            5   2925   4223
919      47       23           11   4224   4483
920      47       23            6   4484   6041
921      47       23           10   6042   6212
922      47       23            4   6213   7340
923      47       23            9   7341   7559
924      47       23            6   7560   8660
925      47       23           12   8661   8821
926      47       23            1   9607  10673
927      47       23            1  10809  11815
928      47       23            3  12723  13402
929      47       23            2  13522  14142
930      47       23            3  14294  14952
931      47       23            2  15055  15729
932      47       23            3  15892  16556
933      47       23            2  16692  17355
     exp_id  user_id  activity_id  start    end
934      48       24            5    484   1705
935      48       24            7   1706   1876
936      48       24            4   1877   3242
937      48       24            8   3243   3351
938      48       24            5   3352   4513
939      48       24           11   4514   5007
940      48       24            6   5008   6268
941      48       24           10   6269   6478
942      48       24            4   6479   7573
943      48       24            9   7574   7807
944      48       24            6   7808   9088
945      48       24           12   9089   9410
946      48       24            1  10923  11939
947      48       24            1  12132  13092
948      48       24            3  13920  14336
949      48       24            3  14372  14595
950      48       24            2  15408  16104
951      48       24            3  16302  17044
952      48       24            2  17176  17928
953      48       24            3  18131  18852
954      48       24            2  18989  19741
     exp_id  user_id  activity_id  start    end
955      49       24            5    483   1786
956      49       24            7   1787   1973
957      49       24            4   1974   3033
958      49       24            8   3034   3157
959      49       24            5   3158   4357
960      49       24           11   4358   4605
961      49       24            6   4606   5827
962      49       24           10   5828   6007
963      49       24            4   6008   7381
964      49       24            9   7382   7587
965      49       24            6   7588   8838
966      49       24           12   8839   9034
967      49       24            1  10013  11026
968      49       24            1  11275  12375
969      49       24            3  13286  13989
970      49       24            2  14130  14850
971      49       24            3  15015  15702
972      49       24            2  15814  16538
973      49       24            3  16683  17374
974      49       24            2  17519  18243
     exp_id  user_id  activity_id  start    end
975      50       25            5    409   1748
976      50       25            7   1749   1886
977      50       25            4   1887   3046
978      50       25            8   3047   3198
979      50       25            5   3199   4462
980      50       25           11   4463   4647
981      50       25            6   4648   6024
982      50       25           10   6025   6304
983      50       25            4   6305   7527
984      50       25            9   7528   7726
985      50       25            6   7727   8784
986      50       25           12   8785   9107
987      50       25            1  10170  11483
988      50       25            1  11819  12995
989      50       25            3  14023  14670
990      50       25            2  14818  15601
991      50       25            3  15833  16557
992      50       25            2  16654  17546
993      50       25            3  17850  18633
994      50       25            2  18807  19654
      exp_id  user_id  activity_id  start    end
995       51       25            5    236   1507
996       51       25            7   1508   1726
997       51       25            4   1727   2766
998       51       25            8   2767   2939
999       51       25            5   2940   4287
1000      51       25           11   4288   4528
1001      51       25            6   4529   5981
1002      51       25           10   5982   6196
1003      51       25            4   6197   7326
1004      51       25            9   7327   7507
1005      51       25            6   7508   8835
1006      51       25           12   8836   9022
1007      51       25            1  10193  11603
1008      51       25            1  11984  13181
1009      51       25            3  14138  14786
1010      51       25            2  14952  15698
1011      51       25            3  15904  16601
1012      51       25            2  16724  17449
1013      51       25            3  17698  18408
1014      51       25            2  18528  19256
      exp_id  user_id  activity_id  start    end
1015      52       26            5    314   2009
1016      52       26            7   2010   2138
1017      52       26            4   2139   3607
1018      52       26            8   3608   3789
1019      52       26            5   3790   4839
1020      52       26           11   4840   5017
1021      52       26            6   5018   6223
1022      52       26           10   6224   6385
1023      52       26            4   6386   7998
1024      52       26            9   7999   8183
1025      52       26            6   8184   9360
1026      52       26           12   9361   9604
1027      52       26            1  10832  11880
1028      52       26            1  12202  13116
1029      52       26            3  13926  14547
1030      52       26            2  15079  15840
1031      52       26            3  16228  16866
1032      52       26            2  17125  17774
1033      52       26            3  18162  18817
1034      52       26            2  19036  19705
      exp_id  user_id  activity_id  start    end
1035      53       26            5    543   1874
1036      53       26            7   1875   2025
1037      53       26            4   2026   3160
1038      53       26            8   3161   3262
1039      53       26            5   3263   4479
1040      53       26           11   4480   4646
1041      53       26            6   4647   5963
1042      53       26           10   5964   6137
1043      53       26            4   6138   7380
1044      53       26            9   7381   7593
1045      53       26            6   7594   9134
1046      53       26           12   9135   9317
1047      53       26            1  10536  11638
1048      53       26            1  11997  13066
1049      53       26            3  13933  14624
1050      53       26            2  14892  15548
1051      53       26            3  15845  16448
1052      53       26            2  16664  17335
1053      53       26            3  17635  18257
1054      53       26            2  18570  19216
      exp_id  user_id  activity_id  start    end
1055      54       27            5    462   1726
1056      54       27            7   1727   1894
1057      54       27            4   1895   3158
1058      54       27            8   3159   3256
1059      54       27            5   3257   4563
1060      54       27           11   4564   4779
1061      54       27            6   4780   6013
1062      54       27           10   6014   6167
1063      54       27            4   6168   7523
1064      54       27            9   7524   7750
1065      54       27            6   7751   9065
1066      54       27           12   9066   9190
1067      54       27            1   9917  10882

In [299]:
type(df_dict[1])

pandas.core.frame.DataFrame

In [209]:
def expand_labels(exp_labels, length):
#     print(exp_labels)
#     exp_labels = exp_labels.sort_values(by=["start"], axis=1)
    activity_labels = exp_labels.apply(lambda x: expand_along_activity(x), axis=1, reduce=True)
    activity_labels = np.hstack(activity_labels)
    
#     print(activity_labels.shape, length)
    
def expand_along_activity(x):
#     print(x)
    start = x['start']
    end = x['end']
    activity = x['activity_id']
    return [activity]*(end-start)

In [210]:
for exp in exp_ids:
    labels = label_data[label_data['exp_id']==exp]
    labels.apply(lambda x: expand_labels)

In [300]:
label_data.head()

   exp_id  user_id  activity_id  start   end
0       1        1            5    250  1232
1       1        1            7   1233  1392
2       1        1            4   1393  2194
3       1        1            8   2195  2359
4       1        1            5   2360  3374

In [301]:
label_data.sort_values(['start'], ascending=[1])

      exp_id  user_id  activity_id  start    end
167        9        5            5    136   1221
187       10        5            5    153   1152
593       31       15            5    185   1229
473       25       12            5    189   1753
126        7        4            5    198   1291
308       16        8            5    202   1313
227       12        6            5    207   1218
533       28       14            5    210   1372
207       11        6            5    210   1116
147        8        4            5    230   1292
995       51       25            5    236   1507
573       30       15            5    239   1161
85         5        3            5    243   1364
0          1        1            5    250   1232
22         2        1            5    251   1226
287       15        8            5    269   1192
833       43       21            5    279   1872
45         3        2            5    298   1398
793       41       20            5    303   1713
493       26       13            5    304   1423
1015      52       26            5    314   2009
553       29       14            5    342   1379
1096      56       28            5    369   1835
813       42       21            5    385   1998
372       19       10            5    388   1237
653       34       17            5    398   2429
975       50       25            5    409   1748
673       35       17            5    414   1680
1075      55       27            5    415   2116
412       22       11            5    415   1233
...      ...      ...          ...    ...    ...
752       38       19            2  17720  18245
44         2        1            2  17725  18425
852       43       21            2  17739  18307
103        5        3            2  17811  18477
993       50       25            3  17850  18633
792       40       20            2  17859  18476
913       46       23            2  18110  18687
953       48       24            3  18131  18852
1033      52       26            3  18162  18817
1113      56       28            3  18235  18844
732       37       18            2  18280  19003
831       42       21            3  18356  18967
671       34       17            3  18512  19042
1014      51       25            2  18528  19256
710       36       18            2  18546  19239
1054      53       26            2  18570  19216
1190      60       30            3  18594  19473
994       50       25            2  18807  19654
104        5        3            3  18810  19325
1114      56       28            2  18961  19643
954       48       24            2  18989  19741
1034      52       26            2  19036  19705
832       42       21            2  19166  19774
672       34       17            2  19326  19924
105        5        3            2  19536  20152
711       36       18            3  19653  20333
1191      60       30            2  19655  20527
712       36       18            2  20688  21413
1192      60       30            3  20762  21555
1193      60       30            2  21752  22540

[1214 rows x 5 columns]

In [312]:
def loop_activities(exp,user,activity,n_rows):
    rows_act = []
    for i in xrange(n_rows):
        new_row = []
        new_row.append(exp)
        new_row.append(user)
        new_row.append(activity)
        rows_act.append(new_row)
    return rows_act

In [359]:
labels_padded_list = []
time_ac = []
time_my = []
for g in df_dict.keys():
    
    g_data = df_dict[g]
    fr = g_data.iloc[0:]['start'].values[0]
    lr = g_data.iloc[-1:]['end'].values[0]
    time_ac.append(lr-fr)
    print "timesteps:"+str(lr - fr)
#     print g_data
    total_time = 0
    for i,(index, row) in enumerate(g_data.iterrows(),0):
        
        timesteps = g_data.iloc[i]['end'] - g_data.iloc[i]['start']
        
        if i == 0:
            rows_act = loop_activities(row['exp_id'],row['user_id'],act_map[str(row['activity_id'])],timesteps)
            labels_padded_list.extend(rows_act)
            total_time+=timesteps
#             print "norm:"+str(timesteps)
            continue
    #     print labels.iloc[i]['start'] - labels.iloc[i-1]['end']
#         print i
        if g_data.iloc[i]['start'] - g_data.iloc[i-1]['end'] > 1:
            idle_time = g_data.iloc[i]['start'] - g_data.iloc[i-1]['end'] - 2
            rows_act = loop_activities(row['exp_id'],row['user_id'],act_map['0'],idle_time)
            labels_padded_list.extend(rows_act)
            total_time+=idle_time
#             print "idle:"+str(idle_time)
            rows_act = loop_activities(row['exp_id'],row['user_id'],act_map[str(row['activity_id'])],timesteps)
            labels_padded_list.extend(rows_act)
            total_time+=timesteps
#             print "norm:"+str(timesteps)
        else:
            rows_act = loop_activities(row['exp_id'],row['user_id'],act_map[str(row['activity_id'])],timesteps)
            labels_padded_list.extend(rows_act)
            total_time+=timesteps
    time_my.append(total_time)
#             print "norm:"+str(timesteps)
#     row = g_data.iloc[-1:]
#     timesteps = row['end'].values[0] - row['start'].values[0]
#     rows_act = loop_activities(str(row['exp_id'].values[0]),str(row['user_id'].values[0]),act_map[str(row['activity_id'].values[0])],timesteps)
#     labels_padded_list.extend(rows_act)
#     print "norm:"+str(timesteps)
#     print len(labels_padded_list)

timesteps:17720
timesteps:18174
timesteps:16572
timesteps:14750
timesteps:19909
timesteps:16297
timesteps:16616
timesteps:14777
timesteps:15589
timesteps:14010
timesteps:15553
timesteps:14875
timesteps:15818
timesteps:14611
timesteps:14571
timesteps:15504
timesteps:14988
timesteps:14006
timesteps:14663
timesteps:6721
timesteps:6679
timesteps:14958
timesteps:15176
timesteps:15073
timesteps:15025
timesteps:16665
timesteps:15418
timesteps:16497
timesteps:15411
timesteps:15675
timesteps:15551
timesteps:16993
timesteps:17781
timesteps:19526
timesteps:17889
timesteps:20709
timesteps:18176
timesteps:16828
timesteps:15711
timesteps:17882
timesteps:16435
timesteps:19389
timesteps:18028
timesteps:16371
timesteps:16028
timesteps:17501
timesteps:16931
timesteps:19257
timesteps:17760
timesteps:19245
timesteps:19020
timesteps:19391
timesteps:18673
timesteps:16907
timesteps:17594
timesteps:19274
timesteps:15830
timesteps:17363
timesteps:16288
timesteps:18806
timesteps:17523

In [360]:
time_ac = np.array(time_ac)

In [362]:
time_my = np.array(time_my)

In [361]:
time_ac.sum()

1002961

In [363]:
time_my.sum()

1001297

In [349]:

labels_padded_df = pd.DataFrame(labels_padded_list)
labels_padded_df.columns = ['exp_id', 'user_id', 'activity_name']

In [350]:
labels_padded_df

         exp_id  user_id     activity_name
0             1        1          STANDING
1             1        1          STANDING
2             1        1          STANDING
3             1        1          STANDING
4             1        1          STANDING
5             1        1          STANDING
6             1        1          STANDING
7             1        1          STANDING
8             1        1          STANDING
9             1        1          STANDING
10            1        1          STANDING
11            1        1          STANDING
12            1        1          STANDING
13            1        1          STANDING
14            1        1          STANDING
15            1        1          STANDING
16            1        1          STANDING
17            1        1          STANDING
18            1        1          STANDING
19            1        1          STANDING
20            1        1          STANDING
21            1        1          STANDING
22            1        1          STANDING
23            1        1          STANDING
24            1        1          STANDING
25            1        1          STANDING
26            1        1          STANDING
27            1        1          STANDING
28            1        1          STANDING
29            1        1          STANDING
...         ...      ...               ...
1001267      61       30  WALKING_UPSTAIRS
1001268      61       30  WALKING_UPSTAIRS
1001269      61       30  WALKING_UPSTAIRS
1001270      61       30  WALKING_UPSTAIRS
1001271      61       30  WALKING_UPSTAIRS
1001272      61       30  WALKING_UPSTAIRS
1001273      61       30  WALKING_UPSTAIRS
1001274      61       30  WALKING_UPSTAIRS
1001275      61       30  WALKING_UPSTAIRS
1001276      61       30  WALKING_UPSTAIRS
1001277      61       30  WALKING_UPSTAIRS
1001278      61       30  WALKING_UPSTAIRS
1001279      61       30  WALKING_UPSTAIRS
1001280      61       30  WALKING_UPSTAIRS
1001281      61       30  WALKING_UPSTAIRS
1001282      61       30  WALKING_UPSTAIRS
1001283      61       30  WALKING_UPSTAIRS
1001284      61       30  WALKING_UPSTAIRS
1001285      61       30  WALKING_UPSTAIRS
1001286      61       30  WALKING_UPSTAIRS
1001287      61       30  WALKING_UPSTAIRS
1001288      61       30  WALKING_UPSTAIRS
1001289      61       30  WALKING_UPSTAIRS
1001290      61       30  WALKING_UPSTAIRS
1001291      61       30  WALKING_UPSTAIRS
1001292      61       30  WALKING_UPSTAIRS
1001293      61       30  WALKING_UPSTAIRS
1001294      61       30  WALKING_UPSTAIRS
1001295      61       30  WALKING_UPSTAIRS
1001296      61       30  WALKING_UPSTAIRS

[1001297 rows x 3 columns]

In [112]:
labels = pd.read_csv(label_file, delimiter=' ', header=None, verbose=False, names=['exp_id', 'user_id', 'activity_id', 'start', 'end'])

In [113]:
data = pd.DataFrame()
files = zip(sorted(acc_files), sorted(gyro_files))
for acc_file, gyro_file in files:
    _, exp_id, sub_id = os.path.basename(acc_file).split("_")
    
    exp_id = int(exp_id[3:])
    user_id = int(sub_id.split(".")[0][4:])

    # Load accel data
    sf = pd.read_csv(acc_file, delimiter=' ', header=None, verbose=False, names=['acc_x', 'acc_y', 'acc_z'])
    sf.insert(0, 'exp_id',  [exp_id]*len(sf))
    sf.insert(0, 'user_id',  [user_id]*len(sf))
    
    # Load gyro data
    gyro_sf = pd.read_csv(gyro_file, delimiter=' ', header=None, verbose=False, names=['gyro_x', 'gyro_y', 'gyro_z'])
    sf = pd.concat([sf, gyro_sf], axis=1)
    
    # Calc labels
    exp_labels = labels[labels['exp_id'] == exp_id]
#     sf.insert(0, "id", range(0, len(sf)))
    
    sf.insert(2, 'activity_id', expand_labels(exp_labels, len(sf)))

    data = data.append(sf)

/home/saagar14/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The reduce argument is deprecated and will be removed in a future version. You can specify result_type='reduce' to try to reduce the result to the original dimensions
  after removing the cwd from sys.path.

In [165]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1122772 entries, 0 to 19081
Data columns (total 9 columns):
user_id        1122772 non-null int64
exp_id         1122772 non-null int64
activity_id    0 non-null object
acc_x          1122772 non-null float64
acc_y          1122772 non-null float64
acc_z          1122772 non-null float64
gyro_x         1122772 non-null float64
gyro_y         1122772 non-null float64
gyro_z         1122772 non-null float64
dtypes: float64(6), int64(2), object(1)
memory usage: 85.7+ MB

In [ ]:
                           Score
Classifiers                     
KNeighborsClassifier    0.748558
GaussianNB              0.724805
SVC                     0.769596
DecisionTreeClassifier  0.725144
Classifier:KNeighborsClassifier
              precision    recall  f1-score   support

           0       0.93      0.73      0.82       496
           1       0.96      0.75      0.84       471
           2       0.99      0.36      0.53       420
           3       0.61      0.82      0.70       491
           4       0.48      0.75      0.58       532
           5       1.00      1.00      1.00       537

   micro avg       0.75      0.75      0.75      2947
   macro avg       0.83      0.74      0.75      2947
weighted avg       0.82      0.75      0.75      2947

Classifier:GaussianNB
              precision    recall  f1-score   support

           0       0.49      0.77      0.60       496
           1       0.67      0.47      0.55       471
           2       0.72      0.59      0.65       420
           3       0.91      0.57      0.70       491
           4       0.71      0.89      0.79       532
           5       1.00      0.99      1.00       537

   micro avg       0.72      0.72      0.72      2947
   macro avg       0.75      0.71      0.72      2947
weighted avg       0.76      0.72      0.72      2947

Classifier:SVC
              precision    recall  f1-score   support

           0       0.57      0.82      0.67       496
           1       0.74      0.55      0.64       471
           2       0.69      0.52      0.59       420
           3       0.87      0.76      0.81       491
           4       0.78      0.89      0.83       532
           5       1.00      1.00      1.00       537

   micro avg       0.77      0.77      0.77      2947
   macro avg       0.78      0.76      0.76      2947
weighted avg       0.78      0.77      0.77      2947

Classifier:DecisionTreeClassifier
              precision    recall  f1-score   support

           0       0.60      0.60      0.60       496
           1       0.66      0.60      0.63       471
           2       0.61      0.62      0.62       420
           3       0.70      0.74      0.72       491
           4       0.73      0.74      0.74       532
           5       1.00      1.00      1.00       537

   micro avg       0.73      0.73      0.73      2947
   macro avg       0.72      0.72      0.72      2947
weighted avg       0.72      0.73      0.72      2947

              precision    recall  f1-score   support

           0       0.42      0.36      0.39       496
           1       0.49      0.45      0.47       471
           2       0.44      0.28      0.34       420
           3       0.65      0.75      0.70       491
           4       0.52      0.70      0.60       532
           5       1.00      1.00      1.00       537

   micro avg       0.61      0.61      0.61      2947
   macro avg       0.59      0.59      0.58      2947
weighted avg       0.60      0.61      0.60      2947